
.centered
  #search
    Search Menus
    - form_tag menu_items_path, :method => 'get' do
      = text_field_tag :q, params[:q]
      = submit_tag 'Go!', :name => nil

  - if @menu_items.empty?
    %b No results found! 
    But check these out instead
    %table
      %tr
        %th Name
        %th Restaurant
        %th Description
        %th Votes
      - for item in MenuItem.all(:limit => 10)
        %tr
          %td= item.name
          %td= link_to item.restaurant.name, restaurant_url(:id => item.restaurant.id)
          %td= item.description
          %td
  - else
    %b #{@menu_items.count} results found!
    %table
      %tr
        %th Name
        %th Restaurant
        %th Description
        %th Votes
      - for item in @menu_items
        %tr
          %td= item.name
          %td= link_to item.restaurant.name, restaurant_url(:id => item.restaurant.id)
          %td= item.description
          %td
