#map_canvas{:style => "width: 500px; height: 500px; text-align: center"}
  = image_tag 'loading.gif', :style => 'margin-top: 200px'
.clear

#categories{:style => 'width: 600px; margin: 0 auto; padding-top: 10px'}
  %h3 Categories
  %p
    - for c in @categories
      .entry{:style => 'float: left; width: 150px'}
        = link_to c.name, category_url(:id => c.id)
        (#{c.restaurants.length})

.clear

#search
  Search Menus
  %br/
  - form_tag menu_items_path, :method => 'get' do
    = text_field_tag :q, params[:q]
    = submit_tag 'Go!', :name => nil
.clear

#info
  %table.tablesorter#restaurant_table
    %thead
      %tr
        %th
          %b Name
        %th
          %b Categories
        %th
          %b Rating
        %th
          %b Take Out?
        %th
          %b Delivery?
        %th
          %b Coordinates
    %tbody
      - for restaurant in @restaurants
        %tr
          %td= link_to restaurant.name, restaurant_url(:id => restaurant.id)
          %td
            - for c in restaurant.categories
              = link_to c.name, category_url(:id => c.id)
          %td
            - if restaurant.rating >= 4
              %span.green #{restaurant.rating}
            - elsif restaurant.rating >= 3
              %span.yellow #{restaurant.rating}
            - else
              %span.red #{restaurant.rating}
            (#{restaurant.review_count} reviews)
          %td
            - if restaurant.take_out
              %span.green yes
            - else
              %span.red no
          %td
            - if restaurant.delivery
              %span.green yes
            - else
              %span.red no
          %td #{restaurant.x}, #{restaurant.y}
  %br/

:javascript
  var restaurants = #{@restaurants.to_json};
  var x = 37.7547;
  var y = -122.4426;
  var zoom = 12;

  $("#restaurant_table").tablesorter();
  $(document).ready(function() {
    initialize();
  });
= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
