#map_canvas{:style => "width: 500px; height: 500px; text-align: center"}
  = image_tag 'loading.gif', :style => 'margin-top: 200px'

#search
  Search Menus
  %br/
  - form_tag menu_items_path, :method => 'get' do
    = text_field_tag :q, params[:q]
    = submit_tag 'Go!', :name => nil

#info
  %table.tablesorter#restaurant_table
    %thead
      %tr
        %th
          %b Name
        %th
          %b Categories
        %th
          %b Rating
        %th
          %b Coordinates
    %tbody
      - for restaurant in @restaurants
        %tr
          %td= link_to restaurant.name, restaurant_url(:id => restaurant.id)
          %td
            - for c in restaurant.categories
              = link_to c.name, category_url(:id => c.id)
          %td #{restaurant.rating} (#{restaurant.review_count} reviews)
          %td #{restaurant.x}, -#{restaurant.y}
  %br/

:javascript
  var restaurants = #{@restaurants.to_json};
  var x = 37.75;
  var y = -122.40;
  var zoom = 12;

  $("#restaurant_table").tablesorter();
  $(document).ready(function() {
    initialize();
  });
= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
