:css
  #map_canvas {
    width: 500px;
    height: 500px;
    margin: auto;
  }
  h1.title {
    text-align: center;
    margin-bottom: 30px;
  }
  #restaurant_table{
    margin: 10px auto;
  }
  .comment {
    margin-left: 10px;
  }

= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true'
:javascript
  var restaurants = #{@restaurant_serialized};
  var x = #{@coordinates[0]};
  var y = -#{@coordinates[1]};
  var zoom = 15;
= javascript_include_tag 'loader.js'

%h1.title= @restaurant.name
#map_canvas{:style => "width: 500px; height: 500px;"}

#info.centered
  %p
    %b Categories:
    = @restaurant.categories
  %p 
    %b Rating:
    = "#{@restaurant.rating} (#{@restaurant.review_count})"

  .menu
    %b Menu Items:
    - for item in @restaurant.menu_items
      %ol 
        %i= item.name
        &nbsp;-&nbsp;
        = item.description
      %ul
        - for comment in @comments.where(:menu_item_id => item.id)
          .comment
            = comment.content
            &nbsp;-&nbsp;
            Comment
            -# = link_to 'comment', comment_url(:menu_item_id => item.id, :parent_id => comment.id)

  %p
    %b User Comments:

