#map_canvas{:style => "width: 500px; height: 500px"}
  = image_tag 'loading.gif', :style => 'margin-top: 200px'

%h2 Category: #{@category.name}
%table.tablesorter#restaurant_table
  %thead
    %tr
      %th Name
      %th Rating
      %th Coordinates
  %tbody
    - for r in @category.restaurants
      %tr
        %td= link_to r.name, restaurant_url(:id => r.id)
        %td= r.rating
        %td #{r.x}, #{r.y}

:javascript
  var restaurants = #{@category.restaurants.to_json};
  var x = #{@location.x_center};
  var y = #{@location.y_center};
  var zoom = 12;

  $("#restaurant_table").tablesorter();
  $(document).ready(function() {
    initialize();
  });
= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
