#map_canvas{:style => "width: 500px; height: 500px; text-align: center"}
  = image_tag 'loading.gif', :style => 'margin-top: 200px'
.clear

#categories{:style => 'width: 700px; margin: 0 auto; padding-top: 10px'}
  %h3 Categories
  %p
    - for name,count in @category[:counts]
      .entry{:style => 'float: left; width: 175px'}
        = link_to name, category_url(:id => @category[:ids][name], :location_id => @location.id)
        (#{count})
.clear

-#
  #search
    Search Menus
    %br/
    - form_tag menu_items_path, :method => 'get' do
      = text_field_tag :q, params[:q]
      = submit_tag 'Go!', :name => nil
  .clear

#info
  = render :partial => "shared/restaurant_table"
  %br/

:javascript
  var restaurants = #{@restaurants.to_json};
  var x = #{@location.x_center};
  var y = #{@location.y_center};
  var zoom = #{@location.zoom_level};

  $("#restaurant_table").tablesorter();
  $(document).ready(function() {
    initialize();
  });
= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
