#main_page
  #search_container
    %div
      %span{:style => 'font-size: 16pt'}
        What kind of food do you want?
      %span{:style => 'font-size: 10pt'} (ie. pizza)
    #search_box
      = form_tag do
        = text_field_tag :q, params[:q], :id => 'instant_search'
        #search_radio{:style => 'font-size: 14pt'}
          = radio_button_tag :search_type, 'best', true
          Best
          = radio_button_tag :search_type, 'nearest'
          Nearest
    #instructions
      %h2 Instructions
      %h3 1. Enter what you want
      %h3 2. Pick your location
      %h3 3. Delivery or Reservation?
      %h3 4. Enjoy!
  #map_container
    #locations
      = link_to 'San Francisco', location_url(:id => 1)
      &nbsp;-&nbsp;
      = link_to 'Mountain View', location_url(:id => 2)
    #map_canvas
      = image_tag 'loading.gif', :style => 'margin-top: 200px'
    #restaurant_info
      %b#category
      = render :partial => "shared/simple_table"
      %br/

-#
  #search
    - form_tag menu_items_path, :id => 'search_form', :method => 'get' do
      = text_field_tag :q, params[:q], :id => 'search_field'
  #categories{:style => 'width: 700px; margin: 0 auto; padding-top: 10px'}
    %h3 Categories
    %p
      - for name,count in @category[:counts]
        .entry{:style => 'float: left; width: 175px'}
          = link_to name, category_url(:id => @category[:ids][name], :location_id => @location.id)
          (#{count})
  #search
    Search Menus
    %br/
    - form_tag menu_items_path, :method => 'get' do
      = text_field_tag :q, params[:q]
      = submit_tag 'Go!', :name => nil
  .clear

= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
= javascript_include_tag 'loader.js'
:javascript
  var map;

  var best = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=%E2%80%A2|33CC33|000000';
  var better = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=%E2%80%A2|FFFF00|000000';
  var good = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=%E2%80%A2|FF6633|000000';

  var last_checked = (new Date()).getTime();
  var bounds;
  var center;
  var r_data;

  $(document).ready(function() {

    var latlng = new google.maps.LatLng(#{@location.x_center}, #{@location.y_center});
    map = new google.maps.Map(document.getElementById("map_canvas"), {
      zoom: #{@location.zoom_level},
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    map.addCrosshairs();

    google.maps.event.addListener(map, 'bounds_changed', function() {
      d = (new Date()).getTime();
      if (d - last_checked > 1000) {
        last_checked = d;
        b = map.getBounds();
        c = map.getCenter();
        bounds = JSON.stringify({ x: [b.S.b, b.S.c], y: [b.M.c, b.M.b] });
        center = JSON.stringify([c.b, c.c]);
        requestData();
      }
    });
    
    var category;
    var categories = #{@categories};

    function requestData() {
      if (category) {
        var data = {
          category: category,
          location_id: #{@location.id},
          bounds: bounds,
          center: center,
          search_type: $("input:radio[name=search_type]:checked").val()
        };
        $.getJSON('/restaurants/instant', data, function(data) {
          data_json = JSON.stringify(data.restaurants);
          if (r_data != data_json) {
            r_data = data_json;
            map.addMarkers(data.restaurants);
            $("thead").show();
            $("tbody").html(function() {
              html = '';
              for (i in data.restaurants) {
                html += '<tr><td>' + (parseInt(i)+1) + '</td>';
                html += '<td>' + data.restaurants[i].name + '</td>';
                html += '<td><a href="' + data.restaurants[i].website + '">' + data.restaurants[i].website + '</a></td>';
                if (data.restaurants[i].rating >= 4.5) {
                  html += '<td style="color: green; font-weight: bold">' + data.restaurants[i].rating + '</td>';
                } else if (data.restaurants[i].rating >= 4) {
                  html += '<td style="color: orange; font-weight: bold">' + data.restaurants[i].rating + '</td>';
                } else {
                  html += '<td style="color: red; font-weight: bold">' + data.restaurants[i].rating + '</td>';
                }
                html += '<td>' + data.restaurants[i].review_count + '</td>';
                if (data.restaurants[i].take_out) {
                  html += '<td style="color: green">yes</td>';
                } else {
                  html += '<td style="color: red">no</td>';
                }
                if (data.restaurants[i].delivery) {
                  html += '<td style="color: green">yes</td>';
                } else {
                  html += '<td style="color: red">no</td>';
                }
              }
              return html;
            });
          }
        });
        $("#category").html('<span style="color: blue">' + category + '</span>');
      }
    }
    $("#instant_search").autocomplete({
      delay: 0,
      source: function(req, responseFn) {
        var re = $.ui.autocomplete.escapeRegex(req.term);
        var matcher = new RegExp("^" + re, "i");
        var result = $.grep(categories, function(item, index) {
          return matcher.test(item);
        });
        if (result[0] && category != result[0]) {
          category = result[0];
          requestData();
        }
        responseFn(result);
      },
      select: function(value, data) {
        category = data.item.value;
        requestData();
      }
    });
    $("input:radio[name=search_type]").change(function() {
      requestData();
    });
    // $("#simple_table").tablesorter();
  });
